/* css for body elements*/
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

p {
    margin: 0;
    color: grey;
}

h1 {
    margin: 0;
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

h5 {
    font-weight: inherit;
}

/* css for class elements begins here */

.container {
    display: flex; /* defaults to row. splits the content alongside each other */
    justify-content: space-evenly; /* indents on margins and spaces each column of content */
    margin: 3em 0;
}

/* all content on the left side */

.name-title p {
    padding-left: 2em; /* aligns profession title to the name */
}

/*contact container styling here*/

.contact ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.contact ul li {
    padding-right: 1em;
}

/*skill container and the child elements-*/

.skills {
    width: 500px;
}

.skill-card {
    display: flex;
}

.skill-card ul {
    list-style: none;
    padding-left: 0;
}

/*development projects container and the child elements*/

.development-projects {
    width: 500px;
}

.project-row {
    display: flex;
    align-items: baseline; /* aligns the project name and date to the same line*/
    justify-content: space-between; /* separates the project name and date*/
}

/* all content on the right side begins here */

.experience {
    width: 500px;
}

/* academic and professional elements below */

.academic-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.professional-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

/*Media query section... placed at bottom because media query is effecting the page after desktop styling is applied....*/

@media screen and (max-width: 800px) {
    body {
        text-align: center;
    }
    .name-title > p {
        padding: 0;
    }
    .contact ul {
        padding-left: 100px;
    }
    .container {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}