body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

h5 {
    font-weight: inherit;
}

li {
    list-style: none;
}

/*mobile device responsive design css follows*/

@media screen and (min-width: 320px) and (max-width: 428px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-side, .right-side {
        text-align: center;
    }
    .name-title>h1 {
        margin-bottom: 0;
    }
    .name-title>p {
        margin: 0;
        color: #808080;
        font-size: 0.75em;
    }
    .contact {
        background-color: #D8B6A4;
    }
    .contact>ul {
        display: flex;
    }
    .contact>ul>li {
        padding: 0.5em;
    }
    .skill-card {
        display: flex;
        align-content: center;
    }
    .skill-list {
        margin: 0.5em 0;
    }
    .skills-right, .skills-right ul {
        padding-left: 1em;
    }
    .project-row, .professional-row, .academic-row {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .professional-row, .academic-row > h4{
        font-size: 0.875em;
    }
    .script {
        margin: 0;
    }
    .honors {
        margin: 0.5em
    }
}

/*transition for screen sizes between mobile but not quite ipad and larger*/

@media screen and (min-width: 429px) and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 0 0.4375em;
    }
    .name-title>h1 {
        margin-bottom: 0;
    }
    .name-title>p {
        margin: 0 1em;
        color: #808080;
        font-size: 0.75em;
    }
    .contact {
        background-color: #D8B6A4;
    }
    .contact>ul {
        display: flex;
        padding: 0;
    }
    .contact>ul>li {
        padding: 0.2em 0.5em;
    }
    .skill-card {
        display: flex;
        align-content: center;
    }
    .project-row, .professional-row, .academic-row {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .professional-row, .academic-row > h4{
        font-size: 0.875em;
    }
    .script {
        margin: 0;
    }
    .honors {
        margin: 0;
    }
}

/** styling for screens equivalent of ipad to desktop **/

@media screen and (min-width: 601px) and (max-width: 2048px) {
    .container {
        display: flex; /* defaults to row. splits the content alongside each other */
        justify-content: space-evenly; /* indents on margins and spaces each column of content */
        margin: 0.21875em;
    }
    .left-side, .right-side {
        margin: 0 0.4375em;
        width: 130%;
    }
    .name-title > h1 {
        margin-bottom: 0;
    }
    .name-title > p {
        margin: 0;
        color: #808080;
    }
    .contact {
        background-color: #9ABAD9;
    }
    .contact > ul {
        display: flex;
        padding: 0;
    }
    .contact > ul > li {
        padding: 0.2em 0.5em;
    }
    .contact > ul > li > img {
        justify-items: baseline;
        margin-top: 0.15em;
    }
    .email {
        margin-top: 0.30em; /* email logo needed it's own class and styling to get even with the other logos */
    }
    .phone {
        margin-top: 0.16em; /* phone number needed it's own class and styling to get even with the other logos*/
    }
    .skill-card {
        display: flex;
        align-content: center;
    }
    .skill-list {
        margin: 0.5em 0;
    }
    .experience-top h2 {
        margin-bottom: 0;
    }
    .project-row, .professional-row, .academic-row {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .professional-row, .academic-row > h4 {
        font-size: 0.875em;
    }
    .script {
        margin: 0;
    }
    .honors {
        margin: 0.5em
    }
}

/******** reference of css before refactoring below ********/
/*!* css for body elements*!*/
/*body {*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-weight: 300;*/
/*}*/

/*p {*/
/*    margin: 0;*/
/*    color: grey;*/
/*}*/

/*h1 {*/
/*    margin: 0;*/
/*    font-weight: 700;*/
/*}*/

/*h3 {*/
/*    font-weight: 600;*/
/*}*/

/*h5 {*/
/*    font-weight: inherit;*/
/*}*/

/*!* css for class elements begins here *!*/

/*.container {*/
/*    display: flex; !* defaults to row. splits the content alongside each other *!*/
/*    justify-content: space-evenly; !* indents on margins and spaces each column of content *!*/
/*    margin: 3em 0;*/
/*}*/

/*!* all content on the left side *!*/

/*.name-title p {*/
/*    padding-left: 2em; !* aligns profession title to the name *!*/
/*}*/

/*!*contact container styling here*!*/

/*.contact ul {*/
/*    display: flex;*/
/*    list-style: none;*/
/*    padding-left: 0;*/
/*}*/

/*.contact ul li {*/
/*    padding-right: 1em;*/
/*}*/

/*!*skill container and the child elements-*!*/

/*.skills {*/
/*    width: 500px;*/
/*}*/

/*.skill-card {*/
/*    display: flex;*/
/*}*/

/*.skill-card ul {*/
/*    list-style: none;*/
/*    padding-left: 0;*/
/*}*/

/*!*development projects container and the child elements*!*/

/*.development-projects {*/
/*    width: 500px;*/
/*}*/

/*.project-row {*/
/*    display: flex;*/
/*    align-items: baseline; !* aligns the project name and date to the same line*!*/
/*    justify-content: space-between; !* separates the project name and date*!*/
/*}*/

/*!* all content on the right side begins here *!*/

/*.experience {*/
/*    width: 500px;*/
/*}*/

/*!* academic and professional elements below *!*/

/*.academic-row {*/
/*    display: flex;*/
/*    align-items: baseline;*/
/*    justify-content: space-between;*/
/*}*/

/*.professional-row {*/
/*    display: flex;*/
/*    align-items: baseline;*/
/*    justify-content: space-between;*/
/*}*/

/*!*Media query section... placed at bottom because media query is effecting the page after desktop styling is applied....*!*/

/*!*NOTE: 1040 max width to 801 min width needs padding white space between the two sides... smaller laptop viewport...*!*/

/*@media screen and (max-width: 800px) and (min-width: 426px) {*/
/*    body {*/
/*        text-align: center;*/
/*    }*/
/*    .name-title > p {*/
/*        padding: 0;*/
/*    }*/
/*    .contact ul {*/
/*        padding-left: 100px;*/
/*    }*/
/*    .container {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        margin: 0;*/
/*    }*/
/*}*/

/*!*NOTE 2: need to figure out how to scale from tablet to mobile and fix the page layout to fit mobile viewport....*!*/

/*!*@media screen and (max-width: 425px) and (min-width: 320px) {*!*/
/*!*    body {*!*/
/*!*        text-align: center;*!*/
/*!*    }*!*/
/*!*    .name-title > p {*!*/
/*!*        padding: 0;*!*/
/*!*    }*!*/
/*!*    .contact ul {*!*/
/*!*        padding-left: 100px;*!*/
/*!*    }*!*/
/*!*    .container {*!*/
/*!*        flex-direction: column;*!*/
/*!*        align-items: center;*!*/
/*!*        margin: 0;*!*/
/*!*    }*!*/
/*!*}*!*/